#main-nav{
	border-radius: 0;
	left: 0;
	right: 0;
}

#page-content{
	margin-top: 80px;
}

.navbar-inverse .navbar-brand {
	border-bottom: none;
	border-right: none;
}
.navbar-inverse .nav > li > a {
	border-bottom: none;
	border-right: none;
}

/*** Highlight ***/

pre code {
	background: transparent;
}
